absl-py==1.4.0
appdirs==1.4.4
backcall==0.2.0
cachetools==4.2.4
certifi==2023.11.17
charset-normalizer==2.0.12
cycler==0.11.0
dataclasses==0.8
decorator==5.1.1
google-auth==2.22.0
google-auth-oauthlib==0.4.6
grpcio==1.48.2
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
imutils==0.5.4
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
kiwisolver==1.3.1
Mako==1.1.6
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.2.2
nanocamera==0.1.5
numpy==1.19.4
oauthlib==3.2.2
onnx==1.9.0
opencv-python==4.8.1.78
pandas==1.1.5
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.0
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.6
ptyprocess==0.7.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycuda @ https://github.com/jetson-nano-wheels/python3.6-pycuda-2021.1/releases/download/v0.0.1/pycuda-2021.1-cp36-cp36m-linux_aarch64.whl
Pygments==2.14.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytools==2022.1.12
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
scipy==1.5.4
seaborn==0.11.2
six==1.16.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
torch @ file:///home/wjgk0822/vn_test/torch-1.10.0a0%2Bgit36449ea-cp36-cp36m-linux_aarch64.whl
torchvision @ file:///home/wjgk0822/vn_test/torchvision-0.11.0a0%2Bfa347eb-cp36-cp36m-linux_aarch64.whl
tqdm==4.64.1
traitlets==4.3.3
typing_extensions==4.1.1
urllib3==1.26.18
wcwidth==0.2.10
Werkzeug==2.0.3
zipp==3.6.0
